.pageContainer {
  background: transparent linear-gradient(180deg, #102f54 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding-bottom: 64px;
}
