.loginContainer {
  height: 100vh;
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 61vh;
    background: transparent linear-gradient(0deg, #102f54 0%, #000000 100%);
    padding-top: 6.1rem;
    &__intro {
      padding-bottom: 1.94rem;
      &__welcome {
        font: normal normal 300 24px/30px Raleway;
        letter-spacing: -0.48px;
        color: #ffffff;
      }
      &__to {
        text-align: center;
        font: normal normal 300 24px/30px Raleway;
        letter-spacing: -0.48px;
        color: #ffffff;
      }
    }
    &__heading {
      &__logo {
        &__light {
          width: 184px;
          height: 118px;
        }
      }
      &__fanGame {
        background: #ffffff;
      }
      &__live {
        color: #d23d5d;
      }
    }
    &__divider {
      border: 2px solid #999999;
      width: 4.5rem;
      margin-bottom: 0.81rem;
    }
    &__slogan {
      font: normal normal normal 16px/30px Raleway;
      letter-spacing: -0.32px;
      color: #fea900;
      text-transform: capitalize;
    }
  }
  &__bottom {
    height: 39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 4rem; uncomment to remove staging changes
    background: transparent linear-gradient(0deg, #102f54 0%, #030911 100%);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    //staging changes
    justify-content: center;
    
    &__fbBtn {
      width: 8.5rem;
      border-radius: 20px;
      height: 2.5rem;
      margin-bottom: 1rem;
      & button {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: #265083;
        font: normal normal normal 16px/30px Raleway;
        letter-spacing: -0.32px;
        color: #ffffff;
      }
    }
    &__googleBtn {
      width: 8.5rem;
      border-radius: 20px;
      height: 2.5rem;
      margin-bottom: 1rem;
      & button {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: #d43d5c;
        font: normal normal normal 16px/30px Raleway;
        letter-spacing: -0.32px;
        color: #ffffff;
      }
    }
    &__divider {
      margin-bottom: 1rem;
      width: 7.25rem;
      border: 3px solid #cccccc;
    }
    &__phoneBtn {
      width: 11.5rem;
      height: 2.5rem;
      border-radius: 20px;
      & button {
        width: 100%;
        height: 100%;
        // line-height: 0px;
      outline: none;
      box-shadow: none;
        border-radius: 20px;
        background: #4d4d4d;
        font: normal normal normal 16px/30px Raleway;
        letter-spacing: -0.32px;
        color: #ffffff;
        min-width: 150px;
    max-width: 223px;
      }
    }
  }
}
