@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.listContainer {
  padding: 8px;
  &__questionBox {
    background: #a22f4780 0% 0% no-repeat padding-box;
    display: flex;
    margin-bottom: 8px;
    padding: 13px 16px 8px 10px;
  }
  &__questionBox p {
    margin-top: 0px;
    margin-bottom: 0px;
    font: normal normal normal 16px/18px Raleway;
    text-align: left;
    letter-spacing: 0.64px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
  }
}
// .listContainer__questionBox p {
//   margin-top: 0px;
//   margin-bottom: 0px;
//   font: normal normal normal 16px/18px Raleway;
//   text-align: left;
//   letter-spacing: 0.64px;
//   color: #ffffff;
//   text-transform: capitalize;
//   opacity: 1;
// }
.listContainer__questionBox__id {
  margin-right: 10px;
}
